<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div id="page-nav" class="tab-navigation guides-nav">
  <h2 class="nhsuk-u-visually-hidden" aria-hidden="true">Secondary navigation</h2>
  <ul role="tablist" aria-label="Secondary navigation">
  
    <li class="guides-nav__item">
      <a class="guides-nav__label" href="?tabname=food-and-diet" data-tabname="food-and-diet">
        Food and diet
      </a>
      <div class="guides-nav__contents">
        <div class="guides-nav__sub-nav">
          
            
              <details class="nhsuk-details nhsuk-u-margin-bottom-2">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    Nutrition and food groups
                  </span>
                </summary>
                <div class="nhsuk-details__text">
                  <ul class="nhsuk-list">
                  
                    <li>
                      <a href="https://www.nhs.uk/live-well/eat-well/">
                        Eating a balanced diet
                      </a>
                    </li>
                  
                    <li>
                      <a href="https://www.nhs.uk/live-well/eat-well/eight-tips-for-healthy-eating/">
                        8 tips for healthy eating
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/the-eatwell-guide/">
                        The Eatwell Guide
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/how-to-read-food-labels/">
                        Food labels
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/food-labelling-terms/">
                        Food labelling terms
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/what-are-reference-intakes-on-food-labels/">
                        Reference intakes on food labels
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/starchy-foods-and-carbohydrates/">
                        Starchy foods and carbohydrates
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/milk-and-dairy-nutrition/">
                        Dairy and alternatives
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/meat-nutrition/">
                        Meat in your diet
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/fish-and-shellfish-nutrition/">
                        Fish and shellfish
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/eggs-nutrition/">
                        The healthy way to eat eggs
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/beans-and-pulses-nutrition/">
                        Beans and pulses
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/water-drinks-nutrition/">
                        Water, drinks and your health
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/what-are-processed-foods/">
                        Eating processed foods
                      </a>
                    </li>
                  
                  </ul>
                </div>
              </details>
            
          
            
              <details class="nhsuk-details nhsuk-u-margin-bottom-2">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    5 A Day
                  </span>
                </summary>
                <div class="nhsuk-details__text">
                  <ul class="nhsuk-list">
                  
                    <li>
                      <a href="/live-well/eat-well/why-5-a-day/">
                        Why 5 A Day?
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/5-a-day-what-counts/">
                        What counts?
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/5-a-day-portion-sizes/">
                        5 A Day portion sizes
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/5-a-day-recipes/">
                        5 A Day recipes
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/5-a-day-tips/">
                        5 A Day tips
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/5-a-day-and-your-family/">
                        5 A Day and your family
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/5-a-day-on-the-go/">
                        5 A Day on the go
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/5-a-day-on-a-budget/">
                        5 A Day on a budget
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/5-a-day-faqs/">
                        5 A Day FAQs
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/school-fruit-and-vegetable-scheme/">
                        School Fruit and Vegetable Scheme
                      </a>
                    </li>
                  
                  </ul>
                </div>
              </details>
            
          
            
              <details class="nhsuk-details nhsuk-u-margin-bottom-2">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    Food facts
                  </span>
                </summary>
                <div class="nhsuk-details__text">
                  <ul class="nhsuk-list">
                  
                    <li>
                      <a href="/live-well/eat-well/different-fats-nutrition/">
                        Fat: the facts
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/salt-nutrition/">
                        Salt: the facts
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/how-does-sugar-in-our-diet-affect-our-health/">
                        Sugar: the facts
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/top-sources-of-added-sugar/">
                        Top sources of added sugar
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/what-does-100-calories-look-like/">
                        What does 100 calories look like?
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/red-meat-and-the-risk-of-bowel-cancer/">
                        Red meat and the risk of bowel cancer
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/what-is-a-mediterranean-diet/">
                        What is a Mediterranean diet?
                      </a>
                    </li>
                  
                  </ul>
                </div>
              </details>
            
          
            
              <details class="nhsuk-details nhsuk-u-margin-bottom-2">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    Eating on a budget
                  </span>
                </summary>
                <div class="nhsuk-details__text">
                  <ul class="nhsuk-list">
                  
                    <li>
                      <a href="/live-well/eat-well/20-tips-to-eat-well-for-less/">
                        20 tips to eat well for less
                      </a>
                    </li>
                  
                  </ul>
                </div>
              </details>
            
          
            
              <details class="nhsuk-details nhsuk-u-margin-bottom-2">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    Food safety
                  </span>
                </summary>
                <div class="nhsuk-details__text">
                  <ul class="nhsuk-list">
                  
                    <li>
                      <a href="/live-well/eat-well/how-to-prepare-and-cook-food-safely/">
                        How to prepare and cook food safely
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/how-to-store-food-and-leftovers/">
                        How to store food and leftovers
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/10-ways-to-prevent-food-poisoning/">
                        10 ways to prevent food poisoning
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/never-wash-raw-chicken/">
                        Why you should never wash raw chicken
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/cooking-turkey-safely/">
                        Cooking turkey
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/how-to-wash-fruit-and-vegetables/">
                        How to wash fruit and vegetables
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/are-sweeteners-safe/">
                        The truth about sweeteners
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/sprouted-seeds-safety-advice/">
                        Sprouted seeds safety advice
                      </a>
                    </li>
                  
                  </ul>
                </div>
              </details>
            
          
            
              <details class="nhsuk-details nhsuk-u-margin-bottom-2">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    Vegetarians and vegans
                  </span>
                </summary>
                <div class="nhsuk-details__text">
                  <ul class="nhsuk-list">
                  
                    <li>
                      <a href="/live-well/eat-well/healthy-eating-vegetarians-vegans/">
                        Healthy eating for vegetarians and vegans
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/the-vegetarian-diet/">
                        The vegetarian diet
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/the-vegan-diet/">
                        The vegan diet
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/vegetarian-food-on-a-budget/">
                        Vegetarian food on a budget
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/vegetarian-and-vegan-mums-to-be/">
                        Vegetarian and vegan mums-to-be
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/vegetarian-and-vegan-diets-q-and-a/">
                        Vegetarian and vegan diets Q&amp;A
                      </a>
                    </li>
                  
                  </ul>
                </div>
              </details>
            
          
        </div>
        
          <div class="guides-nav__feature-box">
            
            <ul class="nhsuk-list">
              
                <li>
                  <a href="/live-well/healthy-weight/calorie-checker/">Calorie checker</a>
                </li>
              
            </ul>
          </div>
        
      </div>
    </li>
  
    <li class="guides-nav__item">
      <a class="guides-nav__label" href="?tabname=recipes-and-tips" data-tabname="recipes-and-tips">
        Recipes and tips
      </a>
      <div class="guides-nav__contents">
        <div class="guides-nav__sub-nav">
          
            
              <details class="nhsuk-details nhsuk-u-margin-bottom-2">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    Healthy recipes
                  </span>
                </summary>
                <div class="nhsuk-details__text">
                  <ul class="nhsuk-list">
                  
                    <li>
                      <a href="/live-well/eat-well/healthy-breakfasts-recipes/">
                        Healthy breakfasts
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/surprising-100-calorie-snacks/">
                        Surprising 100-calorie snacks
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/beef-curry-healthy-recipe/">
                        Beef curry
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/chicken-curry-healthy-recipe/">
                        Chicken curry
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/chilli-con-carne-healthy-recipe/">
                        Chilli con carne
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/citrus-chicken-healthy-recipe/">
                        Citrus chicken
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/easy-italian-chicken-healthy-recipe/">
                        Easy Italian chicken
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/fish-pie-healthy-recipe/">
                        Fish pie
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/hearty-vegetable-soup-healthy-recipe/">
                        Hearty vegetable soup
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/lemon-chicken-healthy-recipe/">
                        Lemon chicken
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/mediterranean-beef-pasta-healthy-recipe/">
                        Mediterranean beef pasta
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/tomato-pasta-sauce-healthy-recipe/">
                        Tomato pasta sauce
                      </a>
                    </li>
                  
                  </ul>
                </div>
              </details>
            
          
            
              <details class="nhsuk-details nhsuk-u-margin-bottom-2">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    Food tips
                  </span>
                </summary>
                <div class="nhsuk-details__text">
                  <ul class="nhsuk-list">
                  
                    <li>
                      <a href="/live-well/eat-well/eight-tips-for-healthy-eating/">
                        8 healthy eating tips
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/how-to-get-more-fibre-into-your-diet/">
                        How to eat more fibre
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/healthy-food-swaps/">
                        Healthy food swaps
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/healthy-breakfast-cereals/">
                        Healthy breakfast cereals
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/eat-less-saturated-fat/">
                        How to eat less saturated fat
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/tips-for-a-lower-salt-diet/">
                        Tips for a lower salt diet
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/how-to-cut-down-on-sugar-in-your-diet/">
                        How to cut down on sugar
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/healthy-eating-out-tips/">
                        Healthy eating out
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/healthier-takeaways/">
                        Healthier takeaways
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/food-and-drinks-for-sport/">
                        Food and drinks for sport
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/healthy-eating-for-teens/">
                        Healthy eating for teens
                      </a>
                    </li>
                  
                    <li>
                      <a href="/live-well/eat-well/foods-to-avoid-over-65/">
                        Foods to avoid if you&#39;re over 65
                      </a>
                    </li>
                  
                  </ul>
                </div>
              </details>
            
          
        </div>
        
      </div>
    </li>
  
    <li class="guides-nav__item">
      <a class="guides-nav__label" href="?tabname=digestive-health" data-tabname="digestive-health">
        Digestive health
      </a>
      <div class="guides-nav__contents">
        <div class="guides-nav__sub-nav">
          
            
              
                  <a
                    class="guides-nav__sub-nav-link app-guides-links"
                    href="/live-well/eat-well/common-digestive-problems-and-how-to-treat-them/"
                  >
                    Common digestive problems and how to treat them
                  </a>
              
            
          
            
              
                  <a
                    class="guides-nav__sub-nav-link app-guides-links"
                    href="/live-well/eat-well/good-foods-to-help-your-digestion/"
                  >
                    Good foods to help your digestion
                  </a>
              
            
          
            
              
                  <a
                    class="guides-nav__sub-nav-link app-guides-links"
                    href="/live-well/eat-well/five-lifestyle-tips-for-a-healthy-tummy/"
                  >
                    5 lifestyle tips for a healthy tummy
                  </a>
              
            
          
            
              
                  <a
                    class="guides-nav__sub-nav-link app-guides-links"
                    href="/live-well/eat-well/remedies-for-bloating-and-wind/"
                  >
                    Beat the bloat
                  </a>
              
            
          
            
              
                  <a
                    class="guides-nav__sub-nav-link app-guides-links"
                    href="/live-well/eat-well/should-you-cut-out-bread-to-stop-bloating/"
                  >
                    Should you cut out bread to stop bloating?
                  </a>
              
            
          
        </div>
        
      </div>
    </li>
  
  </ul>
  <div class="guides-nav__spacer" style="height: 0px;"></div>
</div>

     </div>
  </div>
{% endblock %}
